PORT=3000
MONGODB_URI=
LLM_PROVIDER=gemini
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
GEMINI_API_KEY=

# URLs de los dos sistemas
SOURCE_URL=http://localhost:3000/soriana/soriana.html
DESTINATION_URL=http://localhost:3000